#logoAndHead {
  width: 20%;
  margin: auto;
  text-align: center;
}

#logoAndHead img {
  width: 70%;
}

#logoAndHead p {
  color: blue;
}

.menu {
  font-size: 20px;
  background-color: orange;
  padding: 10px;
  text-align: center;
}

.pmain {
  width: 60%;
  float: left;
  font-family: david;
  color: black;
  text-align: left;
}

.pnews {
  width: 40%;
  float: right;
  background-color: pink;
  padding: 15px;
  position: relative;
}

.myTable {
  clear: both;
  width: 40%;
  margin: 20px auto;
}

.myTable table {
  width: 100%;
  font-size: 12px;
  border: 2px solid green;
  border-collapse: collapse;
  color: red;
  text-align: center;
}

.myTable th, .myTable td {
  border: 1px solid green;
  padding: 8px;
}

.pfooter {
  position: fixed;
  top: 0;
  right: 0;
  background-color: yellow;
  width: 300px;
  border: 3px solid red;
  padding: 10px;
  font-weight: bold;
}
